<h3>List of all Events</h3>
<div>
  <% @event_list.items.each do |event| %>
    <div><%= event.summary %> (<%= event.id %>)</div>
<div><h3><%= event.start.date_time %></h3></div>
</div><h3><%= event.end.date_time %></h3></div>
  <% end %>
</div>

<hr>
<%= form_for new_event_url do |f|%>
<div>Summary<%=f.text_field :summary %> </div>

<div>Time start<%=f.date_field :start %> </div>
<div>Time end<%= f.date_field :end %> </div>
  <div><%= submit_tag 'Add event' %></div>
<% end %>