<h3>Create a new User:</h3>

<%= form_for @user do |f| %>

<div>Username:<%= f.text_field :username %><br></div>
<div>Email:<%= f.text_field :email %><br></div>
<div>Password:<%= f.text_field :password %><br></div>
<div><%= f.submit %>
<% end %>
