<!DOCTYPE html>
<html>
  <head>
    <title>myCirlce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<HEADER>
 <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Fascinate" rel="stylesheet"> 
</HEADER>
  <body>
    <h1 id="main-h1">MyCIRLCE</h1>
 
    <nav class='navbar'>
      <% if logged_in? %>
          <li><%= link_to 'Log out', '/logout', {method: 'post'} %></li>
          <li><a href='/gatherings/new'>New event</a></li> 
          
       <% end %>
       
      <% if !logged_in? %>
       <li><a href='/login'>Login</a></li> 
       <% end %>
       
      <li class="navbar"><a href='/'>Home</a></li> 
      <li class="navbar"><a href='/calendars'>Add to calendar</a></li>
      <li class="navbar"><a href='/users/new'>New User</a></li>
      <li class="navbar"><a href='/users'>User's List</a></li>
    </nav>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<%= yield %>
  </body>
</html>
